<div data-cy="starships">
  <header>
    <h2>Star Wars Starships</h2>
  </header>

  <section data-cy="searchView">
    <h3>Search starships by name</h3>
    <app-search-form
      [apiType]="'starships'"
      (selectedItemChange)="getSelectedStarship($event)"
    ></app-search-form>
  </section>
  @if (showAllStarships) {
    <section class="details-section all" data-cy="listView">
      <div>
        <div>
          <h3>Starships</h3>
          @if (!isLoading) {
            <p>Click on a starship to explore it</p>
            <ul>
              @for (starship of allStarships; track starship.name) {
                <li>
                  <button
                    class="view-detais"
                    (click)="getStarshipDetails(starship.url)"
                    title="Explore starship"
                  >
                    {{ starship.name }}
                  </button>
                </li>
              }
            </ul>
          } @else {
            <div class="is-loading">Loading...</div>
          }
        </div>
      </div>
    </section>
  } @else {
    <div class="view-all-container">
      <button (click)="getStarships()" class="view-all">
        View all starships <span>></span>
      </button>
    </div>
    <section class="details-section" data-cy="detailsView">
      <div>
        <div>
          <h3>Starship details</h3>
          @if (!isLoading) {
            <p>Name: {{ selectedStarship?.name }}</p>
            <p>Model: {{ selectedStarship?.model }}</p>
            <ul>
              @for (
                resident of selectedStarship?.pilots;
                track resident;
                let index = $index
              ) {
                <li>
                  <span
                    class="view-detais"
                    title="View resident's details"
                    routerLink="/characters"
                    [state]="{ selected: resident }"
                    >Pilot {{ index + 1 }}
                  </span>
                </li>
              }
            </ul>
          } @else {
            <div class="is-loading">Loading...</div>
          }
        </div>
      </div>
    </section>
  }
</div>
