<header>
    <h2>Star Wars Characters</h2> 
</header>

<section>
    <h3>Search characters by name</h3>

    <form class="search-form">
        <mat-form-field class="search-form-field" appearance="fill">
            <mat-label>Enter at least 2 characters</mat-label>
            <input
                type="text"
                aria-label="Search characters"
                matInput
                [formControl]="charactersControl"
                [matAutocomplete]="characters" />
            <mat-autocomplete autoActiveFirstOption #characters="matAutocomplete">
                <mat-option 
                    *ngFor="let character of characterList" 
                    [value]="character.name" 
                    (onSelectionChange)="mapCharacterDetails(character)">
                    {{character?.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</section>

<div *ngIf="isLoading" class="is-loading">Loading...</div>

<div class="view-all-container" *ngIf="!showAllCharacters">
    <button (click)="getAllCharacters()" class="view-all">View all characters <span>></span></button>
</div>

<section class="details-section" *ngIf="selectedCharacter">
    <div>
        <div>
            <h3>Character details</h3>
            <p>Name: {{selectedCharacter.name}}</p>
            <p>Planet: 
                <span 
                    class="view-detais" 
                    routerLink="/planets" 
                    [state]="{'selected': selectedCharacter.homeworld}" 
                    title="Explore planet">
                    {{selectedPlanetName}}
                </span>
            </p>
            <ul>
                <li *ngFor="let starship of selectedCharacter.starships;  let ind = index">
                    <span 
                        class="view-detais" 
                        routerLink="/starships" 
                        [state]="{'selected': starship}" 
                        title="Explore starship">
                        Starship {{ind + 1}}
                    </span>
                </li>
            </ul>

        </div>
    </div>
</section>

<section class="details-section all" *ngIf="showAllCharacters">
    <div>
        <div>
            <h3>All characters</h3>
            <p>Click on a character to view their details</p>
            <ul>
                <li *ngFor="let person of allCharacters;">
                    <button class="view-detais" (click)="getCharacterDetails(person.url)" title="See character details">{{person.name}}</button>
                </li>
            </ul>

        </div>
    </div>
</section>
